<section>
  <h1>BeScala Links</h1>
  <ul id="bescala-links">
      <a href="https://plus.google.com/communities/107648187573764165681">
        <img src="http://www.google.com/images/icons/ui/gprofile_button-32.png" width="32" height="32">
        Google+
      </a>
      <li class="link">
        <a href="https://groups.google.com/forum/?hl=en#!forum/bescala"  target="_blank">Google Groups</a>
      </li>
      <li class="link">
        <a href="http://www.linkedin.com/groups?gid=4001883&trk=hb_side_g"  target="_blank">LinkedIn</a>
      </li>
      <li class="link">
        <a href="https://twitter.com/be_scala"  target="_blank">Twitter</a>
      </li>
  </ul>
</section>
