// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background : #F8F8F8;
  color : #555;
}

body #content {
  background: #FFFFFF;
}

body > header div#logo {
  margin-top: -10px;
  margin-bottom: 15px;
  font-size: 1.9em;
  color: #f9f9f9;
}
body > header h2 {
  padding-left : 25px;
  color : $bescala-red;
}

.social-links {
  float : right;
}

.social-links img { 
  margin-left : 0.2em;
  margin-right: 0.2em;
}

body > header {
  padding-left : 20px;
}

.content > a, .content > a:hover, .content > a:visited {
  border-bottom: 1px solid #ccc;
}

navitaion {
  margin-bottom: 1.2em;
}

article > footer p.meta a.articlenav:hover {
  background: $bescala-dark-red;
  border: 1px solid #ffffff;
  color: #FFFFFF;
}

h1 a {
  color : #000000;
}

h1 a:hover {
  color : $link-color-hover;
}

aside.sidebar section h1 {
  color : $bescala-dark-red;
}

a, a:hover { 
  color: $bescala-red;
  text-decoration: none;
}

a:visited {
  color :  $bescala-red;
  text-decoration: underline;
}

#blog-archives h1 a {
  color:  $bescala-red;
}

#blog-archives h1 a:hover {
  color:  $bescala-red;
  text-decoration: underline;
}

#content .blog-index article h1 a:hover {
  color:  $bescala-red;
}

.entry-content ul {
  margin-left : 35px;
}

article header p.meta {
  text-transform: none;
  color : $bescala-red;
}

.month {
  text-transform: none;
}

article img {
  box-shadow : none;
}